<!DOCTYPE html>
<html lang="en">
    <head>
      <title>{% block title %}Agroquimicos el banano{% endblock %}</title>
        <!-- Paginacion y Busqueda Inicio -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
          <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
          <!-- Paginacion y Busqueda Fin -->
    </head>
    <body>
        {% include "common/navigation_bar.html" %}
            {% block content %}
             <div class="container-fluid">
                <div class="well">
                    <h1 class="text-center">PERIODOS REGISTRADOS</h1>
                    {% if current_user.tipo == 'Admin' %}
                    <a class="btn btn-info" href="/periodos/registrarPeriodos">Registrar Periodos</a>
                    {% endif %}
                    <br>
                    <div class="table-responsive">
                    <table id="tablax" class="table">
                        <thead class="thead-dark">
                            <th class="text-center">ID</th>
                            <th class="text-center">NOMBRE</th>
                            <th class="text-center">FECHA DE INICIO</th>
                            <th class="text-center">FECHA DE FIN</th>
                            <th class="text-center">ESTATUS</th>
                            {% if current_user.tipo == 'Admin' %}
                            <th class="text-center">VER</th>
                            <th class="text-center">ELIMINAR</th>
                            {% endif %}
                        </thead>
                        {% for periodo in peri %}
                        <tr>
                            <td class="text-center">{{periodo.idPeriodo}}</td>
                            <td class="text-center">{{periodo.nombre}}</td>
                            <td class="text-center">{{periodo.fechaInicio}}</td>
                            <td class="text-center">{{periodo.fechaFin}}</td>
                            <td class="text-center">{{periodo.estatus}}</td>
                            {% if current_user.tipo == 'Admin' %}
                            <td class="text-center">
                                <a href="/periodos/ver/{{periodo.idPeriodo}}">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="/periodos/eliminarPeriodos/{{periodo.idPeriodo}}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                         <ul class="pagination justify-content-center">
                            {%if pagina<=1 %}
                            <li class="page-item dissabled"><a class="page-link" href="#">Anterior</a></li>
                            {%else%}
                            <li class="page-item "><a class="page-link" href="/periodos/pagina/{{pagina-1}}">Anterior</a></li>
                            {%endif%}
                            <li class="page-item dissabled"><a class="page-link" href="#">Pagina <b>{{pagina}}</b> de <b>{{paginas}}</b></a></li>
                            {%if pagina>=paginas%}
                             <li class="page-item dissabled"><a class="page-link" href="#">Siguiente</a></li>
                            {%else%}
                             <li class="page-item "><a class="page-link" href="/periodos/pagina/{{pagina+1}}">Siguiente</a></li>
                            {%endif%}
                         </ul>
                    </div>
                    <br>
                        {% if get_flashed_messages() %}
                            <div id="menssageAlert" class="alert alert-success alert-dismissible">
                                {% for message in get_flashed_messages() %}
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{message}}</strong>
                                {% endfor %}
                            </div>
                        {% endif %}
                </div>
             </div>
            {% endblock %}
        <p class="text text-center">Este es el pie de pagina</p>
    </body>
</html>
