<!DOCTYPE html>
<html lang="en">

    <head>
      <title>{% block title %}Agroquimicos el banano{% endblock %}</title>
        <script src="{{url_for('static',filename='js/usuarios.js')}}"></script>
    </head>

    <body>
        {% include "common/navigation_bar.html" %}
            {% block content %}
                <div class="container-fluid text-center">
                    <div class="row">
                        <div class="col-sm-4" style="background-color: none;"></div>
                        <div class="well col-sm-4">
                        <h1 class="text-center">REGISTRO DE PERIODOS</h1>
                        <form action="/periodos/guardandoPeriodos" method="post" enctype="multipart/form-data">

                        <div  class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Nombre del Periodo a registrar"  maxlength="50" required name="nombre" onblur="consultarNombrePeriodos()">
                        </div>

                        <div class="form-group">
                            <label for="fechaInicio" class="form-label">Fecha de Inicio</label>
                            <input type="date" class="form-control" id="fechaInicio" placeholder="Fecha de inicio del periodo" maxlength="10" required name="fechaInicio">
                        </div>
                          <div class="form-group">
                            <label for="fechaFin" class="form-label">Fecha de Fin</label>
                            <input type="date" class="form-control" id="fechaFin" placeholder="Fecha de fin del periodo" maxlength="10" required name="fechaFin">
                        </div>
                        <div  class="mb-3">
                                <label class="form-label">Estatus: </label>
                                <label class="form-check-label" for="radio1">
                                    <input type="radio" id="radio1" name="estatus" value="A"checked>Activo
                                </label>
                                <label class="form-check-label" for="radio2">
                                    <input type="radio"  id="radio2" name="estatus" value="I">Inactivo
                                </label>
                        </div>

                        <nav id="bloqueBotones">
                            <button type="submit" class="btn btn-success">Registrar</button>
                            <a href="/periodos/pagina/1" class="btn btn-warning">Regresar</a>
                        </nav>
                            <div  id="notificaciones6" ></div>
                        </form>
                        <br>
                            {% if get_flashed_messages() %}
                                <div id="mensajeAlert" class="alert alert-success alert-dismissible">
                            {% for message in get_flashed_messages() %}
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{message}}</strong>
                            {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endblock %}
        <p class="text text-center">Este es el pie de pagina</p>
    </body>
</html>
