<body>
        {% include "common/navigation_bar.html" %}
            {% block content %}
             <div class="container-fluid">
                <div class="well">
                    <h1 class="text-center">CIUDADES REGISTRADAS</h1>
                    <a class="btn btn-info" href="/ciudades/registrarCiudades">Registrar cuidades</a>
                    <br>
                    <div class="table-responsive">
                    <table id="tablax" class="table">
                        <thead class="thead-dark">
                            <th class="text-center">ID</th>
                            <th class="text-center">NOMBRE</th>
                            <th class="text-center">ESTADO</th>
                            <th class="text-center">ESTATUS</th>
                            <th class="text-center">VER</th>
                            <th class="text-center">ELIMINAR</th>
                        </thead>
                        {% for ciudad in ciud %}

                        <tr>
                            <td class="text-center">{{ciudad.idCiudad}}</td>
                            <td class="text-center">{{ciudad.nombre}}</td>
                            {% for estates in est%}
                            {% if estates.idEstado==ciudad.idEstado %}
                            <td class="text-center">{{estates.nombre}}</td>
                            {% endif %}
                            {% endfor %}
                            <td class="text-center">{{ciudad.estatus}}</td>
                            <td class="text-center">
                                <a href="/ciudades/ver/{{ciudad.idCiudad}}">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="/ciudades/eliminarCiudades/{{ciudad.idCiudad}}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                          <ul class="pagination justify-content-center">
                            {%if pagina<=1 %}
                            <li class="page-item dissabled"><a class="page-link" href="#">Anterior</a></li>
                            {%else%}
                            <li class="page-item "><a class="page-link" href="/ciudades/pagina/{{pagina-1}}">Anterior</a></li>
                            {%endif%}
                            <li class="page-item dissabled"><a class="page-link" href="#">Pagina <b>{{pagina}}</b> de <b>{{paginas}}</b></a></li>
                            {%if pagina>=paginas%}
                             <li class="page-item dissabled"><a class="page-link" href="#">Siguiente</a></li>
                            {%else%}
                             <li class="page-item "><a class="page-link" href="/ciudades/pagina/{{pagina+1}}">Siguiente</a></li>
                            {%endif%}
                         </ul>
                    </div>
                    <br>
                        {% if get_flashed_messages() %}
                            <div id="menssageAlert" class="alert alert-success alert-dismissible">
                                {% for message in get_flashed_messages() %}
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{message}}</strong>
                                {% endfor %}
                            </div>
                        {% endif %}
                </div>
             </div>
            {% endblock %}
        <p class="text text-center">Este es el pie de pagina</p>

</body>
