
    <body>
        {% include "common/navigation_bar.html" %}
            {% block content %}
                <div class="container-fluid text-center">
                    <div class="row">
                        <div class="col-sm-4" style="background-color: none;"></div>
                        <div class="well col-sm-4">
                        <h1 class="text-center">ACTUALIZAR DATOS DE CIUDAD</h1>
                        <form action="/ciudades/editandoCiudades" method="post" enctype="multipart/form-data">
                            <div class="form-group text-center">
                                <label>ID CIUDAD</label>
                                <input type="number" name="idCiudad" value="{{ciud.idCiudad}}" class="form-control text-center" readonly required>
                            </div>
                            <div class="form-group">
                                <label>NOMBRE</label>
                                <input type="text" name="nombre" value="{{ciud.nombre}}" class="form-control text-center"   required>
                            </div>

                            <div class="form-group">
                                <label>ID ESTADO</label>
                                <select name='idEstado'  class="form-control">
                                    {% for estates in est %}
                                    {% if estates.idEstado!=ciud.idEstado %}
                                    <option value="{{estates.idEstado}}">{{estates.nombre}}</option>
                                    {% endif %}
                                    {% if estates.idEstado==ciud.idEstado %}
                                    <option value="{{ciud.idEstado}}" selected>{{estates.nombre}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div  class="mb-3">
                                <label class="form-label">Estatus: </label>
                                <label class="form-check-label" for="radio1">
                                    <input type="radio" id="radio1" name="estatus" value="A"checked>Activo
                                </label>
                                <label class="form-check-label" for="radio2">
                                    <input type="radio"  id="radio2" name="estatus" value="I">Inactivo
                                </label>
                            </div>

                            <br>

                        <nav id="bloqueBotones">
                            <button type="submit" class="btn btn-success">Actualizar</button>
                            <a href="/ciudades/consultarCiudades" class="btn btn-warning">Regresar</a>
                        </nav>
                        </form>
                        <br>
                            {% if get_flashed_messages() %}
                                <div id="menssageAlert" class="alert alert-success alert-dismissible">
                            {% for message in get_flashed_messages() %}
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{message}}</strong>
                            {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endblock %}
        <p class="text text-center">Este es el pie de pagina</p>
    </body>
</html>