<!DOCTYPE html>
<html lang="en">
    <head>
      <title>{% block title %}Agroquimicos el banano{% endblock %}</title>
    </head>
    <body>
        {% include "common/navigation_bar.html" %}
            {% block content %}
             <div class="container-fluid">
                <div class="well">
                    <h1 class="text-center">SUCURSALES REGISTRADAS</h1>
                    {% if current_user.tipo == 'Admin' %}
                    <a class="btn btn-info" href="/sucursales/registrarSucursales">Registrar Sucursales</a>
                    {% endif %}
                    <br>
                    <div class="table-responsive">
                    <table id="tablax" class="table">
                        <thead class="thead-dark">
                            <th class="text-center">ID</th>
                            <th class="text-center">NOMBRE</th>
                            <th class="text-center">TELEFONO</th>
                            <th class="text-center">DIRECCION</th>
                            <th class="text-center">COLONIA</th>
                            <th class="text-center">CODIGO POSTAL</th>
                            <th class="text-center">PRESUPUESTO</th>
                            <th class="text-center">ESTATUS</th>
                            <th class="text-center">CIUDAD</th>
                            {% if current_user.tipo == 'Admin' %}
                            <th class="text-center">VER</th>
                            <th class="text-center">ELIMINAR</th>
                            {% endif %}
                        </thead>
                        {% for sucursal in sucu %}
                        {% if sucursal.estatus != 'I' %}
                        <tr>
                            <td class="text-center">{{sucursal.idSucursal}}</td>
                            <td class="text-center">{{sucursal.nombre}}</td>
                            <td class="text-center">{{sucursal.telefono}}</td>
                            <td class="text-center">{{sucursal.direccion}}</td>
                            <td class="text-center">{{sucursal.colonia}}</td>
                            <td class="text-center">{{sucursal.codigopostal}}</td>
                            <td class="text-center">{{sucursal.presupuesto}}</td>
                            <td class="text-center">{{sucursal.estatus}}</td>
                            {% for ciudad in ciud %}
                            {% if ciudad.idCiudad==sucursal.idCiudad %}
                            <td class="text-center">{{ciudad.nombre}}</td>
                            {% endif %}
                            {% endfor %}
                            {% if current_user.tipo == 'Admin' %}
                            <td class="text-center">
                                <a href="/sucursales/ver/{{sucursal.idSucursal}}">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="/sucursales/eliminarSucursales/{{sucursal.idSucursal}}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                         <ul class="pagination justify-content-center">
                            {%if pagina<=1 %}
                            <li class="page-item dissabled"><a class="page-link" href="#">Anterior</a></li>
                            {%else%}
                            <li class="page-item "><a class="page-link" href="/sucursales/pagina/{{pagina-1}}">Anterior</a></li>
                            {%endif%}
                            <li class="page-item dissabled"><a class="page-link" href="#">Pagina <b>{{pagina}}</b> de <b>{{paginas}}</b></a></li>
                            {%if pagina>=paginas%}
                             <li class="page-item dissabled"><a class="page-link" href="#">Siguiente</a></li>
                            {%else%}
                             <li class="page-item "><a class="page-link" href="/sucursales/pagina/{{pagina+1}}">Siguiente</a></li>
                            {%endif%}
                         </ul>
                    </div>
                    <br>
                        {% if get_flashed_messages() %}
                            <div id="menssageAlert" class="alert alert-success alert-dismissible">
                                {% for message in get_flashed_messages() %}
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{message}}</strong>
                                {% endfor %}
                            </div>
                        {% endif %}
                </div>
             </div>
            {% endblock %}
        <p class="text text-center">Este es el pie de pagina</p>
    </body>
</html>
