<!DOCTYPE html>
<html lang="en">
    <head>
      <title>{% block title %}Agroquimicos el banano{% endblock %}</title>

    </head>
    <body>
        {% include "common/navigation_bar.html" %}
        {% include "common/navigation_bar_empleados.html" %}
            {% block content %}
             <div class="container-fluid">
                <div class="well">
                    <h1 class="text-center">INFORMACION LABORAL</h1>
                    <a class="btn btn-info" href="/empleados/registrarEmpleados">Registrar Empleados</a>
                    <br>
                    <div class="table-responsive">
                    <table id="tablax" class="table">
                        <thead class="thead-dark">
                            <th class="text-center">ID</th>
                            <th class="text-center">NOMBRE</th>
                            <th class="text-center">TIPO</th>
                            <th class="text-center">ESTATUS</th>
                            <th class="text-center">DEPARTAMENTO</th>
                            <th class="text-center">PUESTO</th>
                            <th class="text-center">CIUDAD</th>
                            <th class="text-center">SUCURSAL</th>
                            <th class="text-center">TURNO</th>
                            <th class="text-center">VER</th>
                            <th class="text-center">ELIMINAR</th>
                        </thead>
                        {% for emplea in emp %}
                        {% if emplea.estatus!="I" %}
                        <tr>
                            <td class="text-center">{{emplea.idEmpleado}}</td>
                            <td class="text-center">{{emplea.nombre}}</td>
                             <td class="text-center">{{emplea.tipo}}</td>
                            <td class="text-center">{{emplea.estatus}}</td>
                            {% for departaments in depa %}
                            {% if departaments.idDepartamento==emplea.idDepartamento %}
                            <td class="text-center">{{departaments.nombre}}</td>
                            {% endif %}
                            {% endfor %}
                            {% for puesto in pues %}
                            {% if puesto.idPuesto==emplea.idPuesto %}
                            <td class="text-center">{{puesto.nombre}}</td>
                            {% endif %}
                            {% endfor %}
                            {% for ciuda in ciud %}
                            {% if ciuda.idCiudad==emplea.idCiudad %}
                            <td class="text-center">{{ciuda.nombre}}</td>
                            {% endif %}
                            {% endfor %}
                            {% for sucursa in sucu %}
                            {% if sucursa.idSucursal==emplea.idSucursal %}
                            <td class="text-center">{{sucursa.nombre}}</td>
                            {% endif %}
                            {% endfor %}
                            {% for turns in turn%}
                            {% if emplea.idTurno == turns.idTurno%}
                            <td class="text-center">{{turns.nombre}}</td>
                            {% endif %}
                            {% endfor %}
                            <td class="text-center">
                                <a href="/empleados/ver/{{emplea.idEmpleado}}">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="/empleados/eliminarEmpleados/{{emplea.idEmpleado}}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                        <ul class="pagination justify-content-center">
                            {%if pagina<=1 %}
                            <li class="page-item dissabled"><a class="page-link" href="#">Anterior</a></li>
                            {%else%}
                            <li class="page-item "><a class="page-link" href="/estados/pagina/{{pagina-1}}">Anterior</a></li>
                            {%endif%}
                            <li class="page-item dissabled"><a class="page-link" href="#">Pagina <b>{{pagina}}</b> de <b>{{paginas}}</b></a></li>
                            {%if pagina>=paginas%}
                             <li class="page-item dissabled"><a class="page-link" href="#">Siguiente</a></li>
                            {%else%}
                             <li class="page-item "><a class="page-link" href="/estados/pagina/{{pagina+1}}">Siguiente</a></li>
                            {%endif%}
                         </ul>
                    </div>
                    </div>
                    <br>
                        {% if get_flashed_messages() %}
                            <div id="menssageAlert" class="alert alert-success alert-dismissible">
                                {% for message in get_flashed_messages() %}
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{message}}</strong>
                                {% endfor %}
                            </div>
                        {% endif %}
                </div>
             </div>
            {% endblock %}
        <p class="text text-center">Este es el pie de pagina</p>

    </body>
</html>
