<!DOCTYPE html>
<html lang="en">
    <head>
      <title>{% block title %}Agroquimicos el banano{% endblock %}</title>

    </head>
    <body>
        {% include "common/navigation_bar.html" %}
        {% include "common/navigation_bar_empleados.html" %}
            {% block content %}
             <div class="container-fluid">
                <div class="well">
                    <h1 class="text-center">EMPLEADOS DOMICILIO E INFORMACION LABORAL</h1>
                    <a class="btn btn-info" href="/empleados/registrarEmpleados">Registrar Empleados</a>
                    <br>
                    <div class="table-responsive">
                    <table id="tablax" class="table">
                        <thead class="thead-dark">
                            <th class="text-center">ID</th>
                            <th class="text-center">NOMBRE</th>
                            <th class="text-center">DIRECCION</th>
                            <th class="text-center">COLONIA</th>
                            <th class="text-center">CODIGO POSTAL</th>
                            <th class="text-center">EMAIL</th>
                            <th class="text-center">VER</th>
                            <th class="text-center">ELIMINAR</th>
                        </thead>
                        {% for emplea in emp %}
                        {% if emp.estatus!="I" %}
                        <tr>
                            <td class="text-center">{{emplea.idEmpleado}}</td>
                            <td class="text-center">{{emplea.nombre}}</td>
                            <td class="text-center">{{emplea.direccion}}</td>
                            <td class="text-center">{{emplea.colonia}}</td>
                            <td class="text-center">{{emplea.codigoPostal}}</td>
                            <td class="text-center">{{emplea.email}}</td>
                            <td class="text-center">
                                <a href="/empleados/ver/{{emplea.idEmpleado}}">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="/empleados/eliminarEmpleados/{{emplea.idEmpleado}}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                            <ul class="pagination justify-content-center">
                            {%if pagina<=1 %}
                            <li class="page-item dissabled"><a class="page-link" href="#">Anterior</a></li>
                            {%else%}
                            <li class="page-item "><a class="page-link" href="/empleadosDomicilio/pagina/{{pagina-1}}">Anterior</a></li>
                            {%endif%}
                            <li class="page-item dissabled"><a class="page-link" href="#">Pagina <b>{{pagina}}</b> de <b>{{paginas}}</b></a></li>
                            {%if pagina>=paginas%}
                             <li class="page-item dissabled"><a class="page-link" href="#">Siguiente</a></li>
                            {%else%}
                             <li class="page-item "><a class="page-link" href="/empleadosDomicilio/pagina/{{pagina+1}}">Siguiente</a></li>
                            {%endif%}
                         </ul>
                    </div>
                    <br>
                        {% if get_flashed_messages() %}
                            <div id="menssageAlert" class="alert alert-success alert-dismissible">
                                {% for message in get_flashed_messages() %}
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{message}}</strong>
                                {% endfor %}
                            </div>
                        {% endif %}
                </div>
             </div>
            {% endblock %}
        <p class="text text-center">Este es el pie de pagina</p>

    </body>
</html>

