 {% include "common/navigation_bar.html" %}
        {% include "common/navigation_bar_empleados.html" %}
            {% block content %}
             <div class="container-fluid">
                <div class="well">
                    <h1 class="text-center">EMPLEADOS REGISTRADOS</h1>
                    <a class="btn btn-info" href="/empleados/registrarEmpleados">Registrar Empleados</a>
                    <br>
                    <div class="table-responsive">
                        <table class="table" id="tablaGeneral">
                        <thead class="thead-dark">
                            <th class="text-center">ID</th>
                            <th class="text-center">NOMBRE</th>
                            <th class="text-center">APELLIDO PATERNO</th>
                            <th class="text-center">APLEIIDO MATERNO</th>
                            <th class="text-center">SEXO</th>
                            <th class="text-center">FECHA DE NACIMIENTO</th>
                            <th class="text-center">CURP</th>
                            <th class="text-center">ESTADO CIVIL</th>
                            <th class="text-center">FECHA CONTRATACION</th>
                            <th class="text-center">SALARIO DIARIO</th>
                            <th class="text-center">NSS</th>
                            <th class="text-center">DIAS DE VACACIONES</th>
                            <th class="text-center">DIAS DE PERMISO</th>
                            <th class="text-center">FOTOGRAFIA</th>
                            <th class="text-center">DIRECCION</th>
                            <th class="text-center">COLONIA</th>
                            <th class="text-center">CODIGO POSTAL</th>
                            <th class="text-center">ESCOLARIDAD</th>
                            <th class="text-center">ESPECILIDAD</th>
                            <th class="text-center">EMAIL</th>
                            <th class="text-center">CONTRASEÑA</th>
                            <th class="text-center">TIPO</th>
                            <th class="text-center">ESTATUS</th>
                            <th class="text-center">DEPARTAMENTO</th>
                            <th class="text-center">PUESTO</th>
                            <th class="text-center">CIUDAD</th>
                            <th class="text-center">SUCURSAL</th>
                            <th class="text-center">TURNO</th>
                            <th class="text-center">VER</th>
                            <th class="text-center">ELIMINAR</th>
                        </thead>
                        {% for emplea in emp %}
                        {% if emplea.estatus!="I" %}
                            {% if current_user.is_authenticated and current_user.is_admin() %}
                        <tr>
                            <td class="text-center">{{emplea.idEmpleado}}</td>
                            <td class="text-center">{{emplea.nombre}}</td>
                            <td class="text-center">{{emplea.apellidoPaterno}}</td>
                            <td class="text-center">{{emplea.apellidoMaterno}}</td>
                            <td class="text-center">{{emplea.sexo}}</td>
                            <td class="text-center">{{emplea.fechaNacimiento}}</td>
                            <td class="text-center">{{emplea.curp}}</td>
                            <td class="text-center">{{emplea.estadoCivil}}</td>
                            <td class="text-center">{{emplea.fechaContratacion}}</td>
                            <td class="text-center">{{emplea.salarioDiario}}</td>
                            <td class="text-center">{{emplea.nss}}</td>
                            <td class="text-center">{{emplea.diasVacaciones}}</td>
                            <td class="text-center">{{emplea.diasPermiso}}</td>
                            <td><img src="/empleados/consultarImagen/{{emplea.idEmpleado}}" width="120px" height="50px" style="width:50px;" class="rounded-pill"></td>
                            <td class="text-center">{{emplea.direccion}}</td>
                            <td class="text-center">{{emplea.colonia}}</td>
                            <td class="text-center">{{emplea.codigoPostal}}</td>
                            <td class="text-center">{{emplea.escolaridad}}</td>
                            <td class="text-center">{{emplea.especialidad}}</td>
                            <td class="text-center">{{emplea.email}}</td>
                            <td class="text-center">{{emplea.contraseña}}</td>
                            <td class="text-center">{{emplea.tipo}}</td>
                            <td class="text-center">{{emplea.estatus}}</td>
                            {% for departaments in depa %}
                                {% if departaments.idDepartamento==emplea.idDepartamento %}
                                    <td class="text-center">{{departaments.nombre}}</td>
                                {% endif %}
                            {% endfor %}
                            {% for puestos in pues %}
                                {% if puestos.idPuesto==emplea.idPuesto %}
                                    <td class="text-center">{{puestos.nombre}}</td>
                                {% endif %}
                            {% endfor %}
                            {% for ciuda in ciud %}
                                {% if ciuda.idCiudad==emplea.idCiudad %}
                                    <td class="text-center">{{ciuda.nombre}}</td>
                                {% endif %}
                            {% endfor %}
                            {% for sucursa in sucu %}
                                {% if sucursa.idSucursal==emplea.idSucursal %}
                                    <td class="text-center">{{sucursa.nombre}}</td>
                                {% endif %}
                            {% endfor %}
                            {% for turns in turn%}
                                {% if turns.idTurno==emplea.idTurno %}
                                    <td class="text-center">{{turns.nombre}}</td>
                                {% endif %}
                            {% endfor %}
                            <td class="text-center">
                                <a href="/empleados/ver/{{emplea.idEmpleado}}">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="/empleados/eliminarEmpleados/{{emplea.idEmpleado}}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>

                            {% endif %}
                        {% endif %}
                        {% endfor %}
                        </table>
                          <ul class="pagination justify-content-center">
                            {%if pagina<=1 %}
                            <li class="page-item dissabled"><a class="page-link" href="#">Anterior</a></li>
                            {%else%}
                            <li class="page-item "><a class="page-link" href="/empleados/pagina/{{pagina-1}}">Anterior</a></li>
                            {%endif%}
                            <li class="page-item dissabled"><a class="page-link" href="#">Pagina <b>{{pagina}}</b> de <b>{{paginas}}</b></a></li>
                            {%if pagina>=paginas%}
                             <li class="page-item dissabled"><a class="page-link" href="#">Siguiente</a></li>
                            {%else%}
                             <li class="page-item "><a class="page-link" href="/empleados/pagina/{{pagina+1}}">Siguiente</a></li>
                            {%endif%}
                         </ul>
                    </div>
                    <br>
                        {% if get_flashed_messages() %}
                            <div id="menssageAlert" class="alert alert-success alert-dismissible">
                                {% for message in get_flashed_messages() %}
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{message}}</strong>
                                {% endfor %}
                            </div>
                        {% endif %}
                </div>
                {% endblock %}
                <p class="text text-center">Este es el pie de pagina </p>
             </div>
