<!DOCTYPE html>
<html lang="en">

    <head>
      <title>{% block title %}Agroquimicos el banano{% endblock %}</title>
        <link rel="stylesheet" href="estilo.css">
    </head>

    <body>
        {% include "common/navigation_bar.html" %}
         {% include "common/navigation_bar_empleados.html" %}
            {% block content %}
                <div class="container-fluid text-center">
                    <div class="row">
                        <div class="col-sm-4" style="background-color: none;"></div>
                        <div class="well col-sm-4">
                        <h1 class="text-center">REGISTRO DE SUCURSALES</h1>
                        <form action="/empleados/guardandoEmpleados" method="post" enctype="multipart/form-data">
                        <div  class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Nombre del empleado a registrar"  maxlength="30" required name="nombre">
                        </div>
                        <div  class="form-group">
                            <label for="apellidoPaterno">Apellido Paterno</label>
                            <input type="text" class="form-control" id="apellidoPaterno" placeholder="Apellido Paterno del empleado a registrar"  maxlength="30" required name="apellidoPaterno">
                        </div>
                        <div  class="form-group">
                            <label for="apellidoMaterno">Apellido Materno</label>
                            <input type="text" class="form-control" id="apellidoMaterno" placeholder="Apellido Materno del empleado a registrar"  maxlength="30" required name="apellidoMaterno">
                        </div>
                              <div  class="mb-3">
                                <label class="form-label">sexo: </label>
                                <label class="form-check-label" for="radio3">
                                    <input type="radio" id="radio3" name="sexo" value="H"checked>Hombre
                                </label>
                                <label class="form-check-label" for="radio2">
                                    <input type="radio"  id="radio4" name="sexo" value="M">Mujer
                                </label>
                        </div>

                         <div  class="form-group">
                            <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                            <input type="date" class="form-control" id="fechaNacimiento" placeholder="fecha de Nacimiento del empleado a registrar" max="2004-12-31" min="1930-01-01" required name="fechaNacimiento">
                        </div>
                         <div  class="form-group">
                            <label for="curp">Curp:</label>
                            <input type="text" class="form-control" id="curp" placeholder="curp de la Sucursal  a registrar" minlength="20"  maxlength="20" required name="curp">
                        </div>
                         <div   class="form-group">
                            <label for="estadoCivil">estado Civil:</label>
                               <select name="estadoCivil" id="estadoCivil">
                                    <option name="estadoCivil" value="Soltero">Soltero</option>
                                    <option name="estadoCivil" value="Casado">Casado</option>
                                    <option name="estadoCivil" value="Union Libre">Union Libre</option>
                                    <option name="estadoCivil" value="Divorciado">Divorciado</option>
                                    <option name="estadoCivil" value="Viudo/a">Viudo/a</option>
                               </select>
                        </div>
                         <div  class="form-group">
                            <label for="fechaContratacion">Fecha de Contratacion:</label>
                            <input type="date" class="form-control" id="fechaContratacion" placeholder="fecha de Contratacion del empleado a registrar"  required name="fechaContratacion">
                        </div>
                         <div  class="form-group">
                            <label for="salarioDiario">salario Diario</label>
                            <input type="number" class="form-control" id="salarioDiario" placeholder="salario Diario del empelado a registrar"   required name="salarioDiario">
                        </div>
                        <div  class="form-group">
                            <label for="nss">NSS</label>
                            <input type="number" class="form-control" id="nss" placeholder="NSS del empelado a registrar" maxlength="11" minlength="11" required name="nss">
                        </div>
                        <div  class="form-group">
                            <label for="diasVacaciones">dias de Vacaciones</label>
                            <input type="number" class="form-control" id="diasVacaciones" placeholder="dias de Vacaciones del empelado a registrar" min="1" max="10" required name="diasVacaciones">
                        </div>
                        <div  class="form-group">
                            <label for="diasPermiso">dias de Permiso</label>
                            <input type="number" class="form-control" id="diasPermiso" placeholder="dias de Permiso del empelado a registrar"  min="1" max="10" required name="diasPermiso">
                        </div>
                        <div class="form-group">
                            <label for="fotografia">fotografia:</label>
                            <input type="file" class="form-control" id="fotografia" placeholder="Fotografia del Empleado" class="form-control" required name="fotografia" >
                        </div>
                        <div  class="form-group">
                            <label for="direccion">direccion:</label>
                            <input type="text" class="form-control" id="direccion" placeholder="direccion del empleado a registrar"  maxlength="80" required name="direccion">
                        </div>
                         <div  class="form-group">
                            <label for="colonia">colonia:</label>
                            <input type="text" class="form-control" id="colonia" placeholder="colonia del empleado a registrar"  maxlength="50" required name="colonia">
                        </div>
                        <div  class="form-group">
                            <label for="codigoPostal">codigo Postal:</label>
                            <input type="text" class="form-control" id="codigoPostal" placeholder="codigo Postal del empleado a registrar"  maxlength="5" minlength="5" required name="codigoPostal">
                        </div>
                        <div   class="form-group">
                            <label for="escolaridad">escolaridad:</label>
                               <select name="escolaridad" id="escolaridad">
                                    <option name="escolaridad" value="Preparatoria Completea">Preparatoria Completa</option>
                                    <option name="escolaridad" value="Bachillerato Tecnivo Completea">Bachillerato Tecnivo Completo</option>
                                    <option name="escolaridad" value="Licenciatura">Licenciatura</option>
                                    <option name="escolaridad" value="Ingenieria">Ingenieria</option>
                                    <option name="escolaridad" value="Maestria">Maestria</option>
                                    <option name="escolaridad" value="Doctorado">Doctorado</option>
                                    <option name="escolaridad" value="Pos Grado">Pos Grado</option>
                               </select>
                        </div>
                        <div  class="form-group">
                            <label for="especialidad">especialidad:</label>
                            <input type="text" class="form-control" id="especialidad" placeholder="especialidad del empleado a registrar"  maxlength="100" required name="especialidad">
                        </div>
                         <div  class="form-group">
                            <label for="email">email:</label>
                            <input type="email" class="form-control" id="email" placeholder="email del empleado a registrar"  maxlength="100" required name="email">
                        </div>
                          <div  class="form-group">
                            <label for="contraseña">contraseña:</label>
                            <input type="password" class="form-control" id="contraseña" placeholder="contraseña del empleado a registrar"  maxlength="20" required name="contraseña">
                        </div>
                         <div   class="form-group">
                            <label for="tipo">tipo:</label>
                               <select name="tipo" id="tipo">
                                    <option name="tipo" value="Empleado">Empleado</option>
                                    <option name="tipo" value="Administrador">Administrador</option>
                               </select>
                        </div>
                         <div  class="mb-3">
                                <label class="form-label">Estatus: </label>
                                <label class="form-check-label" for="radio1">
                                    <input type="radio" id="radio1" name="estatus" value="A"checked>Activo
                                </label>
                                <label class="form-check-label" for="radio2">
                                    <input type="radio"  id="radio2" name="estatus" value="I">Inactivo
                                </label>
                        </div>
                         <div class="form-group">
                            <label for="idDepartamento" class="form-label">id Departamento</label>
                            <select name='idDepartamento'  class="form-control">
                                {% for department in depa %}
                                <option value="{{department.idDepartamento}}">{{department.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="idPuesto" class="form-label">id Puesto</label>
                            <select name='idPuesto'  class="form-control">
                                {% for puesto in pues %}
                                <option value="{{puesto.idPuesto}}">{{puesto.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="idCiudad" class="form-label">id Ciudad</label>
                            <select name='idCiudad'  class="form-control">
                                {% for ciudad in ciud %}
                                <option value="{{ciudad.idCiudad}}">{{ciudad.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="idSucursal" class="form-label">id Sucursal</label>
                            <select name='idSucursal'  class="form-control">
                                {% for sucursal in sucu %}
                                <option value="{{sucursal.idSucursal}}">{{sucursal.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="idTurno" class="form-label">id Turno</label>
                            <select name='idTurno'  class="form-control">
                                {% for turno in turn %}
                                <option value="{{turno.idTurno}}">{{turno.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <nav id="bloqueBotones">
                            <button type="submit" class="btn btn-success">Registrar</button>
                            <a href="/empleados/consultarEmpleados" class="btn btn-warning">Regresar</a>
                        </nav>

                        </form>
                        <br>
                            {% if get_flashed_messages() %}
                                <div id="mensajeAlert" class="alert alert-success alert-dismissible">
                            {% for message in get_flashed_messages() %}
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{message}}</strong>
                            {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endblock %}
        <p class="text text-center">Este es el pie de pagina</p>
    </body>
</html>