<!DOCTYPE html>
<html lang="en">

    <head>
      <title>{% block title %}Agroquimicos el banano{% endblock %}</title>
    </head>

    <body>
        {% include "common/navigation_bar.html" %}
            {% block content %}
                <div class="container-fluid text-center">
                    <div class="row">
                        <div class="col-sm-4" style="background-color: none;"></div>
                        <div class="well col-sm-4">
                        <h1 class="text-center">REGISTRO DE AUSENCIAS</h1>
                        <form method="post" enctype="multipart/form-data" id="formulario-tarjeta">
                         <div class="form-group text-center">
                                <label>ID AUSENCIA</label>
                                <input type="text" name="idAusencia" value="{{aus.idAusencia}}" class="form-control text-center" readonly required>
                         </div>
                         <div class="form-group">
                            <label class="form-label">Empleado que Solicita</label>
                                {% for empl in emp %}
                                {% if empl.idEmpleado == aus.idEmpleadoSolicita %}
                            <input type="text" name="idEmpleadoSolicita" value="{{aus.idEmpleadoSolicita}}" class="form-control text-center" readonly hidden>
                            <input type="text" value="{{empl.nombre}}" class="form-control text-center" readonly required>
                                {% endif %}
                                {% endfor %}
                        </div>

                        <div class="form-group">
                            <label class="form-label">Empleado que autoriza</label>
                            <input type="text" name="idEmpleadoAutoriza" value="{{current_user.idEmpleado}}" class="form-control text-center" readonly hidden>
                            <input type="text" value="{{current_user.nombre}}" class="form-control text-center" readonly required>
                            <label >Tipo:</label>
                            <input type="text" class="form-control text-center" id="tipo" value="{{aus.tipo}}" required name="tipo" readonly>
                        </div>
                        <div  class="form-group">
                            <label>fecha de Solicitud</label>
                            <input name="fechaSolicitud" id="fechaSolicitud" value="{{aus.fechaSolicitud}}" type="date" class="form-control" readonly>
                        </div>
                        <div  class="form-group">
                            <label>fecha de Inicio</label>
                                <input type="date" id="fechaInicio" value="{{aus.fechaInicio}}" class="form-control"  required name="fechaInicio" readonly>
                        </div>
                        <div  class="form-group">
                            <label >fecha de Fin</label>
                                <input type="date" class="form-control" id="fechaFin" value="{{aus.fechaFin}}" required name="fechaFin" readonly>
                        </div>
                            <div>
                                <label>Dias disponibles:</label>
                                {% for empl in emp %}
                                {% if empl.idEmpleado == aus.idEmpleadoSolicita %}
                                {% if aus.tipo=="Vacaciones" %}
                                <input type="text" class="form-control" id="dias" value="{{empl.diasVacaciones}}" required name="dias" readonly>
                                {% endif %}
                                {% if aus.tipo=="Permiso" %}
                                <input type="text" class="form-control" id="dias1" value="{{empl.diasPermiso}}" required name="dias" readonly>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                <label>Dias pedidos:</label>
                                <input type="text" class="form-control" name="dias2" id="dias2" required name="dias2" readonly>
                            </div>
                       <div class="form-group">
                            <label>evidencia:</label>
                           <img src="/ausenciaJustificada/consultarImagen/{{aus.idAusencia}}" width="100px" height="80px">
                           <input type="file" class="form-control" value="{{aus.evidencia}}" id="evidencia" placeholder="evidencia de la Ausencia" name="evidencia" hidden>
                        </div>
                       <div   class="form-group">
                                    <label for="estatus">estatus:</label>
                                    <input type="text" class="form-control" id="estatus" value="{{aus.estatus}}" required name="estatus" readonly>
                        </div>
                        <div  class="form-group">
                            <label for="motivo">motivo</label>
                            <input type="text" class="form-control" id="motivo"value="{{aus.motivo}}" placeholder="motivo de la Ausencia a registrar"  maxlength="60" required name="motivo" readonly>
                        </div>
                        <nav id="bloqueBotones">
                            <a href="/ausenciaJustificada/consultarAusenciaJustificada" class="btn btn-warning">Regresar</a>
                            <p class="warnings" id="error"></p>
                        </nav>

                        </form>
                            <script src="/static/js/ausenciaJustificada1.js"></script>
                            <script src="/static/js/ausenciaJustificada2.js"></script>
                        <br>
                            {% if get_flashed_messages() %}
                                <div id="menssageAlert" class="alert alert-success alert-dismissible">
                            {% for message in get_flashed_messages() %}
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{message}}</strong>
                            {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endblock %}
        <p class="text text-center">Este es el pie de pagina</p>
    </body>
</html>