<!DOCTYPE html>
<html lang="en">
    <head>
      <title>{% block title %}Agroquimicos el banano{% endblock %}</title>
    </head>

    <body>
        {% include "common/navigation_bar.html" %}
            {% block content %}
                <div class="container-fluid text-center">
                    <div class="row">
                        <div class="col-sm-4" style="background-color: none;"></div>
                        <div class="well col-sm-4">
                        <h1 class="text-center">ASISTENCIA</h1>
                        <form action="/asistencias/editandoAsistencia" method="post" enctype="multipart/form-data">
                            <div class="form-group text-center">
                                <label>ID ASISTENCIA</label>
                                <input type="number" name="idAsistencia" value="{{asist.idAsistencia}}" class="form-control text-center" readonly>
                            </div>
                            <div class="form-group">
                                <label>FECHA</label>
                                <input type="date" name="fecha" value="{{asist.fecha}}"  class="form-control text-center" readonly>
                            </div>

                            <div class="form-group">
                                <label>HORA DE ENTRADA</label>
                                <input type="time" name="horaEntrad" value="{{asist.horaEntrada}}" class="form-control text-center" step="2" readonly>
                            </div>

                            <div class="form-group">
                                <label>HORA DE SALIDA</label>
                                <input type="time" name="horaSalid" value="{{asist.horaSalida}}" class="form-control text-center" step="2">
                            </div>

                            <div class="form-group text-center">
                                <label>DIA</label>
                                <input type="text" name="dia" value="{{asist.dia}}" class="form-control text-center" readonly>
                            </div>

                            <div class="form-group text-center">
                                <label>EMPLEADO</label>
                                {% for empleado in emp %}
                                {% if asist.idEmpleado == empleado.idEmpleado  %}
                                <input type="text" name="nombreEmpleado" value="{{empleado.nombre + ' ' + empleado.apellidoPaterno + ' ' + empleado.apellidoMaterno}}" class="form-control text-center" readonly>
                                {% endif %}
                                {% endfor %}
                            </div>

                            <div class="form-group text-center">
                                <label>ID EMPLEADO</label>
                                <input type="number" name="idEmpleado" value="{{asist.idEmpleado}}" class="form-control text-center" readonly>
                            </div>

                            <br>

                        <nav id="bloqueBotones">
                            <button type="submit" class="btn btn-success">Actualizar</button>
                            <a href="/asistencias/consultarAsistencias" class="btn btn-warning">Regresar</a>
                        </nav>
                        </form>
                        <br>
                            {% if get_flashed_messages() %}
                                <div id="menssageAlert" class="alert alert-success alert-dismissible">
                            {% for message in get_flashed_messages() %}
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{message}}</strong>
                            {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endblock %}
        <p class="text text-center">Este es el pie de pagina</p>
    </body>
</html>